$colors: (
  "white": #fff,
  "primary-dark": #231f20,
  "secondary-dark": #333333,
  "text-gray": #666666,
  "text-gray-light": #8c8c8c,
  "bg-gray-light": #f4f4f4,
  "bg-gray": #e0e0e0,
  "bg-gray2": #c1c1c1,
  "accent": #d81823,
);

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

body {
  padding: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background-color: #f1f4f5;
}
@media (min-width: 744px) {
  body {
    padding: 20px;
  }
}
